* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
/* .home-container {
  border: 1px red solid;
} */
/*Header -----------------------*/
.main-page-header {
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
  align-items: center;
}
.header-logo-item {
  color: #f2ba38;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header-logo-item span {
  font-size: 1.5rem;
  font-weight: 600;
}
.header-menu-item {
  display: flex;
  gap: 40px;
  align-items: center;
}
.header-menu-item a {
  text-decoration: none;
  color: #000000;
}

/*Inputs ------------------------ */
.button {
  padding: 20px 30px;
  height: 64px;
  min-width: 203px;
  border-radius: 5px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 24px;
  background-color: #ffff;
  cursor: pointer;
  border: 2px #282524 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.button-dark {
  background-color: #282524;
  color: #ffff;
  font-size: 1rem;
  border: 0;
}
.button-yellow {
  background-color: #f2ba38;
  color: #ffff;
  border: 0;
}
/* main */

.main-home-presentation-information {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  justify-content: space-around;
}

.home-section-presentation-information {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-wrap: wrap;
}
.presentation-information-h1 {
  color: #282524;
  font-weight: 600;
  font-size: 2.5rem;
}
.information-h1-second-span {
  color: #f2ba38;
  display: flex;
  gap: 5px;
  align-items: center;
}
.h1-second-span-img img {
  width: 64px;
  height: 64px;
}
.information-address-span {
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 0.8rem;
}
.information-description-p {
  width: 34rem;
  font-size: 1rem;
  font-weight: 100;
}
.information-description-p i {
  color: #282524;
}
.presentation-information-buttons {
  padding-top: 50px;
  display: flex;
  width: 484px;
  justify-content: space-between;
}
.home-section-presentation-photo {
  overflow: hidden;
  border-radius: 480px;
  display: flex;
  margin: 40px;
  width: 23.7rem;
  height: 23.7rem;
}
.presentation-photo-frame {
  position: absolute;
}
.home-projects-section-header {
  padding: 20px 94px;
  width: 100%;
  color: #ffff;
  background-color: #f2ba38;
}
.home-projects-section-header ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}
.home-projects-section-header ul li {
  font-size: 1.2rem;
  align-items: center;
  display: flex;
  gap: 2px;
}

/*section projects */
.home-section-projects {
  display: flex;
  flex-direction: column;
}
.section-project {
  padding: 0px 60px;
  justify-content: space-between;
}
.section-project-information {
  width: 34.8rem;
  min-width: 214px;
  padding: 80px 10px;
}
.section-project-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section-project-text span {
  color: #282524;
}
.section-project-text p {
  font-size: 1.2rem;
  font-weight: 400;
}
.section-project-buttons {
  display: flex;
  gap: 60px;
  padding-top: 60px;
}
.section-project-img img {
  width: 31.25rem;
  height: 31.25rem;
}
.section-project-information ul li {
  background-color: #f2ba38;
  color: #ffff;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
}
.section-project-information ul {
  display: flex;
  justify-content: space-between;
}
/* section project intercalado */

.even {
  display: flex;
  flex-wrap: wrap;
}
.odd {
  background-color: #f2ba381a;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
